#header
{
    width: 100%;
    height:120px;
    border-bottom: 1px solid rgb(120, 120, 120);
}

#content
{
    position: relative;
    width: 100%;
    height: 450px;
}

#logout-link
{
    float: right;
}

#message-form
{
    visibility: hidden;
}

#header img
{
    float: left;
    margin: 10px;
}

#spacer
{
    display: block;
    height: 90px;
}

.conversation 
{
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 450px;
    overflow: auto;
}

.tab-link
{
    display: inline;
    height: 30px;
}

.tab-link a
{
    background-color: rgb(225, 225, 225);
    padding: 10px;
}

.tab-link a:hover
{
    background-color: rgb(200, 200, 200);
}

.selected-conversation
{
    background-color: rgb(150, 150, 150);
}
